body {
  margin: 0;
  font-family: Arial;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #111827;
  color: white;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}
